/* General Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-gif {
  margin-bottom: 20px;
}

.hero-gif img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-section {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.new-collection-section {
  text-align: center;
  margin: 20px 0;
}

.new-collection-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.new-collection-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slider-button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin:20px;
}

.new-collection-cards {
  display: flex;
  justify-content: center;
  
}

.new-collection-item {
  min-width: 200px;
  text-align: center;
  padding:20px;
}

.new-collection-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-collection-item p {
  margin-top: 5px;
  font-size: 14px;
}
